.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-image: url(./assets/image/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 8;
  will-change: tranform;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
}

.grid-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.scale-button {
  width: 60px;
  z-index: 10;
}

.mask {
  position: fixed;
  width: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 7;
}